<a href="https://colab.research.google.com/github/thallamsaithrishool/B3_PFDS_1127/blob/main/LAB_05_1127_PFDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Detecting Missing Values**

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/mental_health_dataset.csv')

In [ ]:
df=pd.DataFrame(data)

In [ ]:
print("Original Data")
print(df)

Original Data
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes      NaN                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No      NaN                  Yes          Low
996                      No      NaN                   No         High
997                      No     High                  Yes       Medium
998                     Yes      NaN                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
1            7.5          47                        8
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
..           ...         ...                      ...
995          9.3          50                        0
996          4.5          37                        6
997          9.7          73                       10
998          6.5          79                        8
999          6.0          61                        7

[1000 rows x 12 columns]

**Handling Missing Values**

In [ ]:
print(" checking Missing Values")
print(df.isnull())

 checking Missing Values
     User_ID    Age  Gender  Occupation  Country  Mental_Health_Condition  \
0      False  False   False       False    False                    False
1      False  False   False       False    False                    False
2      False  False   False       False    False                    False
3      False  False   False       False    False                    False
4      False  False   False       False    False                    False
..       ...    ...     ...         ...      ...                      ...
995    False  False   False       False    False                    False
996    False  False   False       False    False                    False
997    False  False   False       False    False                    False
998    False  False   False       False    False                    False
999    False  False   False       False    False                    False

     Severity  Consultation_History  Stress_Level  Sleep_Hours  Work_Hours  \
0       False                 False         False        False       False
1        True                 False         False        False       False
2       False                 False         False        False       False
3       False                 False         False        False       False
4       False                 False         False        False       False
..        ...                   ...           ...          ...         ...
995      True                 False         False        False       False
996      True                 False         False        False       False
997     False                 False         False        False       False
998      True                 False         False        False       False
999     False                 False         False        False       False

     Physical_Activity_Hours
0                      False
1                      False
2                      False
3                      False
4                      False
..                       ...
995                    False
996                    False
997                    False
998                    False
999                    False

[1000 rows x 12 columns]

**Dropping Missing Values**

In [ ]:
df_drop=df.dropna()

In [ ]:
print("Data After Dropping Missing Values")
print(df_drop)

Data After Dropping Missing Values
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
5          6   64         Non-binary          IT         UK
..       ...  ...                ...         ...        ...
991      992   40         Non-binary          IT         UK
992      993   52             Female   Education     Canada
993      994   50  Prefer not to say       Sales     Canada
997      998   33             Female          IT    Germany
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
5                       Yes     High                   No         High
..                      ...      ...                  ...          ...
991                      No     High                  Yes          Low
992                     Yes     High                   No       Medium
993                      No   Medium                  Yes       Medium
997                      No     High                  Yes       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
5            6.3          34                        0
..           ...         ...                      ...
991          8.2          67                        9
992          7.9          57                        2
993          4.8          71                       10
997          9.7          73                       10
999          6.0          61                        7

[499 rows x 12 columns]

**Filling the Missing values**

In [ ]:
df_fill=df.fillna(0)
print("Filled with 0")
print(df_fill)

Filled with 0
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes        0                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No        0                  Yes          Low
996                      No        0                   No         High
997                      No     High                  Yes       Medium
998                     Yes        0                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
1            7.5          47                        8
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
..           ...         ...                      ...
995          9.3          50                        0
996          4.5          37                        6
997          9.7          73                       10
998          6.5          79                        8
999          6.0          61                        7

[1000 rows x 12 columns]

**Filling with Mean**

In [ ]:
df['Age']=df['Age'].fillna(df['Age'].mean())
print("Filled with Mean")
print(df)

Filled with Mean
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes      NaN                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No      NaN                  Yes          Low
996                      No      NaN                   No         High
997                      No     High                  Yes       Medium
998                     Yes      NaN                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
1            7.5          47                        8
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
..           ...         ...                      ...
995          9.3          50                        0
996          4.5          37                        6
997          9.7          73                       10
998          6.5          79                        8
999          6.0          61                        7

[1000 rows x 12 columns]

**Handling Duplicates**

In [ ]:
df_duplicate=df.drop_duplicates()
print("After Removing Duplicates")
print(df_duplicate)

After Removing Duplicates
     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History Stress_Level  \
0                        No   Medium                  Yes       Medium
1                       Yes      NaN                   No          Low
2                       Yes     High                   No          Low
3                        No      Low                   No       Medium
4                       Yes      Low                   No       Medium
..                      ...      ...                  ...          ...
995                      No      NaN                  Yes          Low
996                      No      NaN                   No         High
997                      No     High                  Yes       Medium
998                     Yes      NaN                   No       Medium
999                      No      Low                  Yes          Low

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          46                        5
1            7.5          47                        8
2            8.4          58                       10
3            9.8          30                        2
4            4.9          62                        5
..           ...         ...                      ...
995          9.3          50                        0
996          4.5          37                        6
997          9.7          73                       10
998          6.5          79                        8
999          6.0          61                        7

[1000 rows x 12 columns]

In [ ]:
print(df.dtypes)

User_ID                      int64
Age                          int64
Gender                      object
Occupation                  object
Country                     object
Mental_Health_Condition     object
Severity                    object
Consultation_History        object
Stress_Level                object
Sleep_Hours                float64
Work_Hours                   int64
Physical_Activity_Hours      int64
dtype: object

In [ ]:
# Map categorical stress levels to numerical values
stress_mapping = {'Low': 0, 'Medium': 1, 'High': 2}
df['Stress_Level'] = df['Stress_Level'].map(stress_mapping)

# Convert the mapped column to numeric type
df['Stress_Level'] = pd.to_numeric(df['Stress_Level'])

print(df.dtypes)

User_ID                      int64
Age                          int64
Gender                      object
Occupation                  object
Country                     object
Mental_Health_Condition     object
Severity                    object
Consultation_History        object
Stress_Level                 int64
Sleep_Hours                float64
Work_Hours                   int64
Physical_Activity_Hours      int64
dtype: object

In [ ]:
df['Work_Hours']=df['Work_Hours'].apply(lambda x:x+2)
print(df)

     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History  Stress_Level  \
0                        No   Medium                  Yes             1
1                       Yes      NaN                   No             0
2                       Yes     High                   No             0
3                        No      Low                   No             1
4                       Yes      Low                   No             1
..                      ...      ...                  ...           ...
995                      No      NaN                  Yes             0
996                      No      NaN                   No             2
997                      No     High                  Yes             1
998                     Yes      NaN                   No             1
999                      No      Low                  Yes             0

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1          48                        5
1            7.5          49                        8
2            8.4          60                       10
3            9.8          32                        2
4            4.9          64                        5
..           ...         ...                      ...
995          9.3          52                        0
996          4.5          39                        6
997          9.7          75                       10
998          6.5          81                        8
999          6.0          63                        7

[1000 rows x 12 columns]

**Normalization**

In [ ]:
df['Work_Hours']=(df['Work_Hours']-df['Work_Hours'].min())/(df['Work_Hours'].max()-df['Work_Hours'].min())
print(df)

     User_ID  Age             Gender  Occupation    Country  \
0          1   36         Non-binary       Sales     Canada
1          2   34             Female   Education         UK
2          3   65         Non-binary       Sales        USA
3          4   34               Male       Other  Australia
4          5   22             Female  Healthcare     Canada
..       ...  ...                ...         ...        ...
995      996   46         Non-binary       Other    Germany
996      997   31               Male       Sales     Canada
997      998   33             Female          IT    Germany
998      999   42             Female     Finance  Australia
999     1000   43  Prefer not to say       Sales    Germany

    Mental_Health_Condition Severity Consultation_History  Stress_Level  \
0                        No   Medium                  Yes             1
1                       Yes      NaN                   No             0
2                       Yes     High                   No             0
3                        No      Low                   No             1
4                       Yes      Low                   No             1
..                      ...      ...                  ...           ...
995                      No      NaN                  Yes             0
996                      No      NaN                   No             2
997                      No     High                  Yes             1
998                     Yes      NaN                   No             1
999                      No      Low                  Yes             0

     Sleep_Hours  Work_Hours  Physical_Activity_Hours
0            7.1        0.32                        5
1            7.5        0.34                        8
2            8.4        0.56                       10
3            9.8        0.00                        2
4            4.9        0.64                        5
..           ...         ...                      ...
995          9.3        0.40                        0
996          4.5        0.14                        6
997          9.7        0.86                       10
998          6.5        0.98                        8
999          6.0        0.62                        7

[1000 rows x 12 columns]

**Merging Datasets**

In [ ]:
d ={
    'ID':[1,2,3],
    'Name':['THRISHOOL','SUMANTH','RISHAAK'],
    'Age':[25,30,28],
    'Marks':[85,90,92]
}

In [ ]:
course={
    'Id':[1,2,3],
    'Course':['PFDS','FAM','DL']
}

In [ ]:
merged_d=pd.merge(pd.DataFrame(d),pd.DataFrame(course),left_on='ID',right_on='Id')
print(merged_d)

   ID       Name  Age  Marks  Id Course
0   1  THRISHOOL   25     85   1   PFDS
1   2    SUMANTH   30     90   2    FAM
2   3    RISHAAK   28     92   3     DL

**Lab_Program_01**

In [68]:
import pandas as pd

p = pd.DataFrame({
    'pid': [1, 2, 3, 4],
    'pname': ['Laptop', 'Phone', 'Tablet', 'Headphones'],
    'cat': ['Electronics', 'Electronics', 'Electronics', 'Accessories'],
    'price': [60000, 30000, 20000, 5000]
})

s = pd.DataFrame({
    'sid': [101, 102, 103, 104, 105, 106, 107],
    'pid': [1, 2, 2, 3, 4, 4, 1],
    'qty': [2, 1, 3, 2, 5, 2, 1]
})

im = pd.merge(s, p, on='pid', how='inner')
om = pd.merge(s, p, on='pid', how='outer')

im['rev'] = im['price'] * im['qty']
tot_rev = im['rev'].sum()
avg_price = p['price'].mean()
ps = im.groupby('pname')['qty'].sum().reset_index()
cs = im.groupby('cat')['rev'].sum().reset_index()
best_cat = cs.loc[cs['rev'].idxmax()]

print("Products:\n", p, "\n")
print("Sales:\n", s, "\n")
print("Inner Merge:\n", im, "\n")
print("Outer Merge:\n", om, "\n")
print("Total Revenue:", tot_rev, "\n")
print("Average Price:", avg_price, "\n")
print("Product Sales:\n", ps, "\n")
print("Category Revenue:\n", cs, "\n")
print("Best Category:\n", best_cat)

Products:
    pid       pname          cat  price
0    1      Laptop  Electronics  60000
1    2       Phone  Electronics  30000
2    3      Tablet  Electronics  20000
3    4  Headphones  Accessories   5000

Sales:
    sid  pid  qty
0  101    1    2
1  102    2    1
2  103    2    3
3  104    3    2
4  105    4    5
5  106    4    2
6  107    1    1

Inner Merge:
    sid  pid  qty       pname          cat  price     rev
0  101    1    2      Laptop  Electronics  60000  120000
1  102    2    1       Phone  Electronics  30000   30000
2  103    2    3       Phone  Electronics  30000   90000
3  104    3    2      Tablet  Electronics  20000   40000
4  105    4    5  Headphones  Accessories   5000   25000
5  106    4    2  Headphones  Accessories   5000   10000
6  107    1    1      Laptop  Electronics  60000   60000

Outer Merge:
    sid  pid  qty       pname          cat  price
0  101    1    2      Laptop  Electronics  60000
1  107    1    1      Laptop  Electronics  60000
2  102    2    1       Phone  Electronics  30000
3  103    2    3       Phone  Electronics  30000
4  104    3    2      Tablet  Electronics  20000
5  105    4    5  Headphones  Accessories   5000
6  106    4    2  Headphones  Accessories   5000

Total Revenue: 375000

Average Price: 28750.0

Product Sales:
         pname  qty
0  Headphones    7
1      Laptop    3
2       Phone    4
3      Tablet    2

Category Revenue:
            cat     rev
0  Accessories   35000
1  Electronics  340000

Best Category:
 cat    Electronics
rev         340000
Name: 1, dtype: object

**Lab_Program_02**

In [ ]:
import pandas as pd

t = pd.DataFrame({
    'tid': [1, 2, 3, 4],
    'tname': ['Alice', 'Bob', 'Charlie', 'David'],
    'dept': ['CSE', 'CSE', 'AI', 'CSE']
})

c = pd.DataFrame({
    'cid': [101, 102, 103, 104, 105, 106],
    'cname': ['Python', 'DBMS', 'AI Basics', 'ML', 'OS', 'Deep Learning'],
    'tid': [1, 2, 2, 3, 4, 3]
})

print("Teachers:\n", t, "\n")
print("Courses:\n", c)

im = pd.merge(c, t, on='tid', how='inner')
lm = pd.merge(t, c, on='tid', how='left')

print("\nInner Join:\n", im)
print("\nLeft Join:\n", lm)

Teachers:
    tid    tname dept
0    1    Alice  CSE
1    2      Bob  CSE
2    3  Charlie   AI
3    4    David  CSE

Courses:
    cid          cname  tid
0  101         Python    1
1  102           DBMS    2
2  103      AI Basics    2
3  104             ML    3
4  105             OS    4
5  106  Deep Learning    3

Inner Join:
    cid          cname  tid    tname dept
0  101         Python    1    Alice  CSE
1  102           DBMS    2      Bob  CSE
2  103      AI Basics    2      Bob  CSE
3  104             ML    3  Charlie   AI
4  105             OS    4    David  CSE
5  106  Deep Learning    3  Charlie   AI

Left Join:
    tid    tname dept  cid          cname
0    1    Alice  CSE  101         Python
1    2      Bob  CSE  102           DBMS
2    2      Bob  CSE  103      AI Basics
3    3  Charlie   AI  104             ML
4    3  Charlie   AI  106  Deep Learning
5    4    David  CSE  105             OS