<a href="https://colab.research.google.com/github/thallamsaithrishool/B3_PFDS_1127/blob/main/LAB_06_1127_PFDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**WORKING WITH DATETIME**

In [ ]:
from datetime import datetime
df= datetime(2025,6,22,10,30,00)
print(df)

2025-06-22 10:30:00

**CONVERTING STRINGS TO DATETIME IN PANDAS**

In [ ]:
import pandas as pd

date_str = ['2025-08-22', '2025-08-23']
dates = pd.to_datetime(date_str)
print(dates)

DatetimeIndex(['2025-08-22', '2025-08-23'], dtype='datetime64[ns]', freq=None)

**EXTRACTING DATE AND TIME COMPONENTS**

In [ ]:
ls=pd.to_datetime("2025-08-10 5:30:45")
print(ls.year)
print(ls.month)
print(ls.weekday())
print(ls.day)
print(ls.hour)

2025
8
6
10
5

**CREATING DATA RANGES**

In [ ]:
pd.date_range(start='2025-01-01',periods=10,freq='ME')
print(df)

2025-06-22 10:30:00

**TIME SERIES DATA IN PANDAS**


1.   CREATING TIME SERIES

In [ ]:
import pandas as pd
import numpy as np
dates=pd.date_range(start='2025-01-01',periods=6,freq='D')
ls=pd.Series(np.random.randn(6),index=dates)
print(ls)

2025-01-01    0.082663
2025-01-02    0.911236
2025-01-03   -0.084005
2025-01-04   -0.074480
2025-01-05    0.641787
2025-01-06   -0.690086
Freq: D, dtype: float64


2.   INDEXING AND SLICING WITH DATES

In [ ]:
print(ls['2025-01-02'])
print(ls['2025-01-03':'2025-01-04'])

0.9112364659883816
2025-01-03   -0.084005
2025-01-04   -0.074480
Freq: D, dtype: float64



3. TIME-BASED INDEXING

In [ ]:
print(ls['2025-01-01'])

0.0826626259428109

**TIME-BASED OPERATIONS IN PANDAS**

In [ ]:
#1)Resampling
ls=pd.Series(np.random.randn(10),index=pd.date_range('2025-01-01',periods=10,freq='D'))
print(ls)
monthly=ls.resample('M').mean()
print(monthly)

2025-01-01   -1.143947
2025-01-02   -0.260680
2025-01-03   -0.357892
2025-01-04   -1.441127
2025-01-05   -0.302146
2025-01-06    1.134411
2025-01-07   -0.271053
2025-01-08    1.128439
2025-01-09   -0.957288
2025-01-10    0.017842
Freq: D, dtype: float64
2025-01-31   -0.245344
Freq: ME, dtype: float64

/tmp/ipython-input-272935596.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly=ls.resample('M').mean()

In [ ]:
#Shifting Data
print(ls.shift(1))

2025-01-01         NaN
2025-01-02   -1.143947
2025-01-03   -0.260680
2025-01-04   -0.357892
2025-01-05   -1.441127
2025-01-06   -0.302146
2025-01-07    1.134411
2025-01-08   -0.271053
2025-01-09    1.128439
2025-01-10   -0.957288
Freq: D, dtype: float64

In [ ]:
print(ls.shift(-1))

2025-01-01   -0.260680
2025-01-02   -0.357892
2025-01-03   -1.441127
2025-01-04   -0.302146
2025-01-05    1.134411
2025-01-06   -0.271053
2025-01-07    1.128439
2025-01-08   -0.957288
2025-01-09    0.017842
2025-01-10         NaN
Freq: D, dtype: float64

In [ ]:
#Rolling /Moving Window
print(ls.rolling(window=3).mean())

2025-01-01         NaN
2025-01-02         NaN
2025-01-03   -0.587506
2025-01-04   -0.686566
2025-01-05   -0.700389
2025-01-06   -0.202954
2025-01-07    0.187071
2025-01-08    0.663932
2025-01-09   -0.033301
2025-01-10    0.062998
Freq: D, dtype: float64

**EXAMPLE**

In [ ]:
#1)STOCK ANALYSIS
dates=pd.date_range(start='2025-01-01',periods=5,freq='D')
prices=pd.Series([100,102,99,105,110],index=dates)
print("original prices:\n",prices)
print("day moving avg\n")
print(prices.rolling(window=3).mean())

original prices:
 2025-01-01    100
2025-01-02    102
2025-01-03     99
2025-01-04    105
2025-01-05    110
Freq: D, dtype: int64
day moving avg

2025-01-01           NaN
2025-01-02           NaN
2025-01-03    100.333333
2025-01-04    102.000000
2025-01-05    104.666667
Freq: D, dtype: float64

In [ ]:
#2)TEMPERATUES READINGS
dates=pd.date_range(start='2025-01-01',periods=24,freq='H')
temps=pd.Series(np.random.randint(25,35,24),index=dates)
print("Hourly Date:\n",temps)

Hourly Date:
 2025-01-01 00:00:00    34
2025-01-01 01:00:00    28
2025-01-01 02:00:00    28
2025-01-01 03:00:00    32
2025-01-01 04:00:00    32
2025-01-01 05:00:00    25
2025-01-01 06:00:00    33
2025-01-01 07:00:00    29
2025-01-01 08:00:00    30
2025-01-01 09:00:00    31
2025-01-01 10:00:00    33
2025-01-01 11:00:00    34
2025-01-01 12:00:00    28
2025-01-01 13:00:00    29
2025-01-01 14:00:00    31
2025-01-01 15:00:00    26
2025-01-01 16:00:00    26
2025-01-01 17:00:00    31
2025-01-01 18:00:00    27
2025-01-01 19:00:00    25
2025-01-01 20:00:00    28
2025-01-01 21:00:00    27
2025-01-01 22:00:00    32
2025-01-01 23:00:00    29
Freq: h, dtype: int64

/tmp/ipython-input-2955575287.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates=pd.date_range(start='2025-01-01',periods=24,freq='H')

**LAB-CODE 1**

In [ ]:
import pandas as pd

data = {
    "TransactionID": [101, 102, 103, 104, 105, 102, 104],
    "Customer": ["Alice", "Bob", "Charlie", "David", "Eva", "Bob", "David"],
    "Product": ["Laptop", "Phone", "Tablet", "Laptop", "Phone", "Phone", "Laptop"],
    "Amount": [1200, 800, 300, 1200, 800, 800, 1200],
    "Date": ["2024-01-01", "2024-01-02", "2024-01-03",
             "2024-01-04", "2024-01-05", "2024-01-02", "2024-01-04"]
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df)

duplicates = df.duplicated()
print("\nNumber of duplicate rows:", duplicates.sum())

df_cleaned = df.drop_duplicates()
print("\nCleaned Dataset:\n", df_cleaned)

print("\nBefore removing duplicates:", len(df))
print("After removing duplicates:", len(df_cleaned))

Original Dataset:
    TransactionID Customer Product  Amount        Date
0            101    Alice  Laptop    1200  2024-01-01
1            102      Bob   Phone     800  2024-01-02
2            103  Charlie  Tablet     300  2024-01-03
3            104    David  Laptop    1200  2024-01-04
4            105      Eva   Phone     800  2024-01-05
5            102      Bob   Phone     800  2024-01-02
6            104    David  Laptop    1200  2024-01-04

Number of duplicate rows: 2

Cleaned Dataset:
    TransactionID Customer Product  Amount        Date
0            101    Alice  Laptop    1200  2024-01-01
1            102      Bob   Phone     800  2024-01-02
2            103  Charlie  Tablet     300  2024-01-03
3            104    David  Laptop    1200  2024-01-04
4            105      Eva   Phone     800  2024-01-05

Before removing duplicates: 7
After removing duplicates: 5

**LAB-CODE 2**

In [34]:
import pandas as pd

data = {
    "EmployeeID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Salary": ["50000", "60000", "55000", "70000"],
    "Joining_Date": ["2021-05-10", "2020-08-15", "2022-01-20", "2019-11-30"]
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df.dtypes)

df["Salary"] = pd.to_numeric(df["Salary"])
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])

print("\nConverted Dataset:\n", df.dtypes)
print("\nFinal Dataset:\n", df)

Original Dataset:
 EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

Converted Dataset:
 EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

Final Dataset:
    EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2021-05-10
1           2      Bob   60000   2020-08-15
2           3  Charlie   55000   2022-01-20
3           4    David   70000   2019-11-30