<a href="https://colab.research.google.com/github/thallamsaithrishool/B3_PFDS_1127/blob/main/LAB_04_1127_PFDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)Sales Data

In [1]:
import pandas as p

a = p.read_csv("sales_data.csv")
a = a.dropna(subset=["Product", "Quantity"])
b = a["Price"].mean()
a["Price"] = a["Price"].fillna(b)
a["Total"] = a["Quantity"] * a["Price"]
c = a[a["Total"] > 1000]
print(a)
print(c)
a.to_csv("sales_data_cleaned.csv", index=False)

   Invoice_No Customer_Name  Product  Quantity    Price     Total
0         101         Alice   Laptop       2.0  50000.0  100000.0
1         102           Bob    Mouse       5.0  31000.0  155000.0
4         105           Eva  Monitor      10.0  12000.0  120000.0
5         106         Frank   Laptop       1.0  31000.0   31000.0
   Invoice_No Customer_Name  Product  Quantity    Price     Total
0         101         Alice   Laptop       2.0  50000.0  100000.0
1         102           Bob    Mouse       5.0  31000.0  155000.0
4         105           Eva  Monitor      10.0  12000.0  120000.0
5         106         Frank   Laptop       1.0  31000.0   31000.0

2)Job Applicant Filtering

In [2]:
import pandas as p

a = p.read_csv("/content/applicants.csv")
a = a.dropna(subset=["Python_Score"])
a["Experience_Years"] = a["Experience_Years"].fillna(0)
b = a[(a["Python_Score"] > 80) & (a["Experience_Years"] > 2)]
print(a)
print(b)
a.to_csv("applicants_cleaned.csv", index=False)
b.to_csv("applicants_selected.csv", index=False)

   Applicant_ID   Name  Degree  Experience_Years  Python_Score     Status
0             1  Alice  B.Tech               3.0          90.0    Applied
1             2    Bob     MCA               0.0          75.0  Interview
3             4  David  B.Tech               5.0          85.0    Applied
4             5    Eva     MBA               0.0          95.0   Selected
5             6  Frank     BCA               2.0          60.0    Applied
   Applicant_ID   Name  Degree  Experience_Years  Python_Score   Status
0             1  Alice  B.Tech               3.0          90.0  Applied
3             4  David  B.Tech               5.0          85.0  Applied